/*  */

/* Font imported from Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,800;1,400&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
}

/*  */ /*  */
/* Shared Styles */

.text-light-gray {
  color: var(--dark-03, #727272);
}

.shared--title-font {
  font-size: 2rem;
  font-weight: 700;
}

/*  */ /*  */
/* Header styles */
header {
  background-color: rgb(255, 240, 242);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

nav ul {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  color: #424242;
}

nav li {
  list-style: none;
  margin-right: 30px;
}

nav li a {
  text-decoration: none;
}

/* Banner is a box. When max-width 100% is used, it takes full space of that box in width */
.banner img {
  max-width: 100%;
  margin-top: 50px;
}

.banner-content {
  max-width: 850px;
  text-align: center;
  margin: 0 auto;
}

.banner-content h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 30px;
}

.banner-content p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 35px;
}

.btn-primary {
  border: none;
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  padding: 20px 24px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

/*  */ /*  */
/* Quick List Section Styles */
.quick-list-section {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
  align-items: center;
}

.quick-list-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.quick-list-images img {
  max-width: 280px;
}

.quick-list-content {
  padding-left: 70px;
  /* padding-right: 10px; */
}

.quick-list-content h1 {
  color: var(--dark-03, #727272);
  font-size: 45px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 25px;
}

.quick-list-content p {
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

/*  */ /*  */
/* Facts Section Styles */
.facts-container {
  margin: 100px 220px;
}

.facts-container .facts-subtitle {
  margin: 10px 500px 40px 0px;
}

.facts-card {
  display: flex;
  justify-content: space-between;
}

.facts-card-details {
  margin: 0px 30px;
  border: 1px solid lightsalmon;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}
#email {
  padding: 20px 30px;
}
.facts-card-details img {
  border-bottom: 10px;
}

/*  */ /*  */
/* Sponsors Section Styles */

.sponsors-content {
  margin: 180px 500px 50px;
  text-align: center;
}
.sponsors-content h1 {
  color: var(--dark-01, #131313);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

.sponsors-logo {
  display: flex;
  justify-content: space-between;
  margin: 0px 180px 50px;
}

.sponsors-logo img {
  width: 130px;
  color: rgba(0, 0, 0, 1);
}

/*  */ /*  */
/* Features Section Styles */
.feaure-container {
  display: flex;
  justify-content: space-between;
  margin: 130px 150px;
  /* flex: 1; */
  gap: 80px;
}

.feaure-container img {
  max-width: 600px;
}

.feature-content h1 {
  color: var(--dark-01, #131313);
  font-size: 45px;
  font-weight: 700;
  padding-left: 21px;
  border-left: 5px solid #ff900e;
}

.feature-content .para {
  margin-top: 24px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.feature-cart {
  padding: 30px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}

.feature-cart h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

/*  */ /*  */
/* Responsive Media Queries */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
  nav h1 {
    margin-bottom: 20px;
  }
  .banner h1 {
    font-size: 35px;
  }
  .quick-list-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 0px 10px */
  }
  .quick-list-images {
    padding: 50px 0px;
    grid-template-columns: 1fr;
  }
  .quick-list-images img {
    width: 100%;
  }
  .quick-list-content {
    padding: 0px 30px 40px 30px;
    text-align: center;
  }
  /* Facts Section */
  .facts-container {
    margin: 40px auto;
    text-align: center;
  }
  .facts-container .facts-subtitle {
    margin: 10px auto;
  }
  .facts-card {
    flex-direction: column;
    margin: 30px 120px;
  }

  .facts-card-details {
    margin-bottom: 20px;
  }

  /* Sponsors-section-styles */
  .sponsors-content {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .sponsors-logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    max-width: 300px;
  }
  .sponsors-logo img {
    width: 70px;
    padding: 10px;
  }
  .feaure-container {
    flex-direction: column;
    margin: 80px 30px;
    /* flex: 1; */
  }
}
